<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba Ciclo 3 - Deivis Rodriguez</title>
</head>
<body>
  
  <header class="header">

    <div class="brand">
      <a [routerLink]="['/home']">
        <img src="assets/images/logo.png" alt="Logo" class="img-logo">
        <span>AppPartidos</span>
      </a>      
    </div>

    <div class="nav-top">
      <nav>
        <ul *ngIf="sesionService.getUsuario().id===0">
          <li>
            <a [routerLink]="['/login']" routerLinkActive="active">
              Inicia Sesion              
            </a>
          </li>
          <li><a [routerLink]="['/registro']" routerLinkActive="active">Registrate</a></li>
        </ul>
        <ul *ngIf="sesionService.getUsuario().id!==0">
          <li>
            <a [routerLink]="['/partidos-add']" routerLinkActive="active">
              Registrar partidos             
            </a>
          </li>
          <li>
            <a [routerLink]="['/partidos-list']" routerLinkActive="active">
              Ver partidos
            </a>
          </li>
          <li>
            <a [routerLink]="['/cerrar-sesion']">
              Cerrar Sesion ({{ sesionService.getUsuario().nombre }})
            </a>
          </li>
        </ul>
      </nav>  
    </div>

  </header>

  <main>

    <router-outlet></router-outlet>

  </main>


  <footer>

  </footer>
</body>
</html>